       
            <td>{{label}}</td>
            <td>
              <span {{action 'decreaseStat' 'stat'}} class="btn btn-default btn-xs">-</span>
            </td>
            <td> {{ stat }} </td>
            <td>
              <span {{action 'increaseStat' 'stat'}} class="btn btn-default btn-xs">+</span>
            </td>
            <td>{{ character.strengthBonus }}</td>
