<div class="panel panel-default">
      <div class="panel-heading">Stats</div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
              <th>stat</th>
              <th>&nbsp;</th>
              <th>value</th>
              <th>&nbsp;</th>
              <th>bonus</th>
          </thead>

          <tbody>
          <tr>
            <td>strength</td>
            <td>
              <span {{action 'decreaseStat' 'strength'}} class="btn btn-default btn-xs">-</span>
            </td>
            <td> {{ character.strength }} </td>
            <td>
              <span {{action 'increaseStat' 'strength'}} class="btn btn-default btn-xs">+</span>
            </td>
            <td>{{ character.strengthBonus }}</td>
          </tr>

          <tr>
            <td>intelligence</td>
            <td>
              <span {{action 'decreaseStat' 'intelligence'}} class="btn btn-default btn-xs">-</span>
            </td>
            <td> {{ character.intelligence }} </td>
            <td>
              <span {{action 'increaseStat' 'intelligence'}} class="btn btn-default btn-xs">+</span>
            </td>
            <td>{{ character.intelligenceBonus }}</td>
          </tr>

          <tr>
            <td>wisdom</td>
            <td>
              <span {{action 'decreaseStat' 'wisdom'}} class="btn btn-default btn-xs">-</span>
            </td>
            <td> {{ character.wisdom }} </td>
            <td>
              <span {{action 'increaseStat' 'wisdom'}} class="btn btn-default btn-xs">+</span>
            </td>
            <td>{{ character.wisdomBonus }}</td>
          </tr>

          <tr>
            <td>dexterity</td>
            <td>
              <span {{action 'decreaseStat' 'dexterity'}} class="btn btn-default btn-xs">-</span>
            </td>
            <td> {{ character.dexterity }} </td>
            <td>
              <span {{action 'increaseStat' 'dexterity'}} class="btn btn-default btn-xs">+</span>
            </td>
            <td>{{ character.dexterityBonus }}</td>
          </tr>

          <tr>
            <td>constitution</td>
            <td>
              <span {{action 'decreaseStat' 'constitution'}} class="btn btn-default btn-xs">-</span>
            </td>
            <td> {{ character.constitution }} </td>
            <td>
              <span {{action 'increaseStat' 'constitution'}} class="btn btn-default btn-xs">+</span>
            </td>
            <td>{{ character.constitutionBonus }}</td>
          </tr>

          <tr>
            <td>charisma</td>
            <td>
              <span {{action 'decreaseStat' 'charisma'}} class="btn btn-default btn-xs">-</span>
            </td>
            <td> {{ character.charisma }} </td>
            <td>
              <span {{action 'increaseStat' 'charisma'}} class="btn btn-default btn-xs">+</span>
            </td>
            <td>{{ character.charismaBonus }}</td>
          </tr>
          </tbody>

        </table>

      </div>
    </div>

{{yield}}
