<div class="row">
  <div class="col-sm-12">
    <ul>
      {{#each characters as |char|}}
        <li>
          <button class="btn btn-default" {{action 'changeCharacter' char}}><span>{{char.name}}</span></button>
        </li>
      {{/each}}
    </ul>
    <button class="btn btn-default" {{action 'addCharacter'}}>New</button>
  </div>
</div>


<div class="row">

  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Character Info</div>
      <div class="panel-body">

        <div class="">
          <h3>{{ character.name }} | Level
            <button {{action 'increaseStat' 'level' }}
              class="btn btn-sm">{{ character.level }}
              <span class="glyphicon glyphicon-upload"></span>
            </button> {{ character.class }}
          </h3>
        </div>

        <span class="btn btn-success" {{ action 'saveCharacter' }}>Save</span>
        <span class="btn btn-danger" {{ action 'removeCharacter'}}>Drop</span>

        <div>Health</div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            <span>HP: {{ character.maxHealth}} / {{ character.maxHealth}}</span>
          </div>
        </div>

        <div>Mana</div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            <span>MP: {{ character.maxMana}} / {{ character.maxMana}}</span>
          </div>
        </div>

        <div>Burden</div>
        <div class="progress">
          <div class="progress-bar progress-bar-{{if character.hampered 'warning' }}" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ burdenPercent }}%;">
            <span>{{ character.itemWeight}} / {{ character.maxWeight}}</span>
          </div>
        </div>

        {{#if hampered}}

        <div class="">
          <h3>You are carrying too much stuff!!!</h3>
        </div>
        {{else}}
        {{/if}}

      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-4">
    {{ modify-character-stat character=character}}
  </div>


  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Inventory
        <div class='btn btn-primary btn-sm pull-right' {{ action 'addItem' }}>pickup</div>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <th>name</th>
            <th>weight</th>
            <th>bonuses</th>
            <th>&nbsp;</th>
          </thead>

          <tbody>

            {{#each character.items as |item|}}
              <tr>
                <td><strong>{{ item.name }}</strong></td>
                <td>{{ item.weight }}</td>
                <td>
                  {{#each item.bonusStrings as |b|}}
                    <span class="label label-success">{{b}}</span>
                  {{/each}}
                </td>
                <td><span class="btn btn-xs" {{ action 'removeItem' item }}>
                  <span class="glyphicon glyphicon-remove"></span>
                </span></td>
              </tr>
            {{/each}}

          </tbody>
        </table>


      </div>
    </div>
  </div>

</div>
