<h4> Name: {{ model.name }} </h4>
<h4> Wisdom: {{ model.wisdom }} </h4>
<h4> Strength: {{ model.strength }} </h4>
<h4> Constitution: {{ model.constitution }} </h4>
<h4> Health: {{ model.health }} </h4>
