<span><h3> {{ model.name }}  </h3></span>

<span>Level: {{ model.level }}
  <button {{action 'increaseStat' 'level'}}> Level up
  </button>
</span>

<br />

<span> Class: {{ model.class }}
</span>

<br />

<span>Health: {{model.health}} </span>
<br />

<span>Mana: {{model.mana}} </span>

<br />

<span> Strength:
  <button {{action 'decreaseStat' 'strength'}}> -1
  </button>
  {{ model.strength }}
  <button {{action 'increaseStat' 'strength'}}> +1
  </button>
</span>

<br />

<span> Intelligence:
  <button {{action 'decreaseStat' 'intelligence'}}> -1
  </button>
  {{ model.intelligence }}
  <button {{action 'increaseStat' 'intelligence'}}> +1
  </button>
</span>

<br />

<span> Wisdom:
  <button {{action 'decreaseStat' 'wisdom'}}> -1
  </button>
  {{ model.wisdom }}
  <button {{action 'increaseStat' 'wisdom'}}> +1
  </button>
</span>

<br />

<span> Dexterity:
  <button {{action 'decreaseStat' 'dexterity'}}> -1
  </button>
  {{ model.dexterity }}
  <button {{action 'increaseStat' 'dexterity'}}> +1
  </button>
</span>

<br />

<span> Constitution:
  <button {{action 'decreaseStat' 'constitution'}}> -1
  </button>
  {{ model.constitution }}
  <button {{action 'increaseStat' 'constitution'}}> +1
  </button>
</span>

<br />

<span> Charisma:
  <button {{action 'decreaseStat' 'charisma'}}> -1
  </button>
  {{ model.charisma }}
  <button {{action 'increaseStat' 'charisma'}}> +1
  </button>
</span>