<h4> Name: {{ model.name }} </h4>
<h4> Wisdom: {{ model.wisdom }} </h4>
<h4> Strength: {{ model.strength }} </h4>
<h4> Constitution: {{ model.constitution }} </h4>
<h4> Health: {{ model.health }} </h4>
<a class="btn btn-primary btn-lg" href="character/#" role="button">Learn more</a>

  <button class="btn btn-lg btn-primary">
    <span class="glyphicon glyphicon-cog"></span> Level up
  </button>
